/* Full screen gradient background */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
}

/* Center container */
.app {
  position:relative;
  line-height: 1;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card style */
.weather-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  line-height:1;
  text-align: center;
  width: 300px;
  color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* Input styling */
input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

/* Button styling */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #ffffff;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #333;
  color: #fff;
}

/* Weather info */
.weather-info {
  margin-top: 20px;
  line-height: 1;
}